<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body class="bg-info">


</body>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1><%= title %></h1>
    <div class="jumbotron">
    <h1 class="display-7">Please enter your information</h1>
    <p class="lead"> </p>
    <hr class="my-4">

    <form>
      <div class="form-group">

        <label class="col-sm-2 col-form-label col-form-label-lg" for="exampleInputEmail1">What's your name?</label>
        <input class="form-control form-control-lg" type="text" id=""  placeholder="Enter your name" >

      </div>
      <div class="form-group">

        <label class="col-sm-5 col-form-label col-form-label-lg" for="exampleInputEmail1">What's the ID of the lobby? </label>
        <input class="form-control form-control-lg" type="text" id=""  placeholder="Enter lobby ID" >

      </div>
      <div class="form-group">
        <label class="col-sm-5 col-form-label col-form-label-lg" for="password">Please enter the password for the lobby</label>
        <input type="password" class="form-control form-control-lg" id="" placeholder="Password">
      </div>

      <div class="col-md-15 text-center">
      <a class="btn btn-primary btn-lg" href="/host" id="" role="button"> Join</a>
    </div>
    </form>

</div>
</body>
</html>
